h1 {
    @import url('https://fonts.googleapis.com/css?family=Cairo|Comfortaa|Noto+Sans+KR');
    font-family: 'Noto Sans KR', sans-serif;

}

body {
    margin: 0;
    padding: 0;
    background: #ffffff;
}

.thumnails {
    position: relative;
    width: 20%;
    float: left;
    margin: 15px;
    background: #ffffff;
    box-sizing: border-box;

}

.thumnails img {
    margin-left: 20%;
    width: 100%;
    height: auto;
}

.gallery {
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
}