html {
    height: 100%;
    overflow: hidden;
}

body {
    color: #fff;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d ;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

header {
    z-index: 10;
}

section {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}

section h1 {
    font-size: 9vh;
    font-family: "Century Gothic";
    margin-left: 60%;
    margin-top: -170vh;
}

section, section:before {
    background: 50% 50% / cover;
}

section::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url("../img/background/about-background.jpg");
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
    max-height: 100vh;
}

section * {
    font-weight: normal;
    letter-spacing: 0.1em;
    text-align: center;
    margin: 0;
    padding: 20em 0;
}

main {
    position: absolute;
    color: #aa0719;
    bottom: -150vh;
}

/*
html {
    box-sizing: border-box;
    overflow: hidden;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    /*mobil
    -webkit-overflow-scrolling: touch;

    perspective: 1px;
    -webkit-perspective: 1px;
}

img {
    width: 100%;
}
header{
    z-index: 10;
}

.parallax-group {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.back {
    /*mobil
    -webkit-transform: translateZ(-1px) scale(2);
    /*pomalejsi scrollovani
    transform: translateZ(-1px) scale(2);
    /*pomer pozadi aby bylo responzivni
    position: relative;
    z-index: 2;
    top: calc(((100vh - 66.66666666666667vw) / 4) * -2);
}

.front {
   background: #fff;
    padding: 14em 1em;
    position: relative;
    z-index: 10;
}
*/