html, body {
    height: 100%;
}

input[type=text], select {
    width: 20%;
    display: block;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: 35%;
    resize: none
}

textarea {
    width: 40%;
    height: 30vh;
    display: block;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-left: 35%;
    margin-bottom: 15px;
    resize: vertical
}

button[type=submit] {
    margin-left: 35%;
    margin-bottom: 15px;
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #3d3d3d;
}

.container {
    position: relative;
    margin-top: 10vh;
    border-radius: 5px;
    background-color: transparent;
    padding: 20px;
}

.media-contact {
    z-index: 1;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-53%, -50%);
}

.media-contact li {
    z-index: 1;
    list-style: none;
    display: inline-block;
    margin: 10px;
}